@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quantico:wght@700&family=Roboto+Slab:wght@600&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4 {
    font-family: 'Quantico', sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

.container {
    padding: 24px;
}

.nav-wrapper {
    color: #1c292e;
}

.hero {
    background-color: #d2e2e2;
    padding-top: 48px;
}

.intro {
    background-image: url('images/coffee-beans-bg.jpg');
    padding: 4rem 0;
    margin-top: -300px;
    position: relative;
}

.white {
    color: white;
}

p {
    font-size: 20px;
}

.location {
    background-color: #233237;
    color: #f2f2f2;
}

.hours-days, .hours-times {
    padding-bottom: 1rem;
}

.hours {
    display: flex;
    padding: 2rem 3rem;
    justify-content: center;
}

.hours-days-wrapper {}

.hours-times-wrapper {

    margin-left: 100px;
}

footer {
    background-color: #1c292e;
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.order {
    background-color: #2e1507;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;

}

.experience {
    color: #45230f;
}

a {
    text-decoration: none;
    color: white;
}

.join {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 15px;
    background-color: #a6592f;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;
    width: 70%;
    text-transform: uppercase;
    margin: 0 auto;
}

.socials {
    height: 100px;
    width: 100px;
}

.map {
    width: 400px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.coffee-wrapper {
    padding: 2rem;
}

.menu-item {
    padding-bottom: 64px;
}

.menu-items2 {
    display: none;
}

.news-wrapper {
    background-color: #033a35;
    color: #f2f2f2;
    padding: 24px;

}

.coffee-roasted {
    text-align: center;

}

.menu-price {
    display: inline;
    font-weight: bold;
    font-family: 'Quantico', sans-serif;
}

.menu-title {
    display: inline;

}

.menu-title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.menu-description {
    padding-bottom: 6rem;
    padding-top: 20px;
    text-align: center;
}

.menu-section-title {
    text-align: center;
    padding-top: 6rem;
}

.locations-wrapper {
    background-color: #233237;
    color: white;
    padding-top: 75px;
}

#name {
    border-radius: 5px;
    width: 100%;
    height: 36px;
    margin-bottom: 2rem;

}

#email {
    border-radius: 5px;
    width: 100%;
    height: 36px;
    margin-bottom: 2rem;
}

.newsletter-form {
    width: 100%;
}

.submit-wrap {
    text-align: center;
}

input[type=text], input[type=email] {
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 18px;

}

label {
    display: block;

}

.hero-img {
    background-repeat: no-repeat;
}

.coffee-club {
    text-align: center;
    padding-top: 65px;
}

.address {
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.address-phone {
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 75px;
}

.sitemap-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 25px;

}

.location-hours {
    text-align: center;
    padding-top: 50px;
}

.map-location {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.map-number {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 75px;
}

.social-heading {
    padding-bottom: 25px;
}

.map-location-heading {
    text-align: center;
    padding-top: 70px;
}

.experience-heading {
    padding-bottom: 25px;
}

.coffee-roasted-heading {
    padding-bottom: 50px;
}

.location-hours-header {
    text-align: center;
    padding-top: 50px;
}

* {
    margin: 0;
    padding: 0;
}

#ham {
    color: #a77a33;
}

.h1 h1 {
    text-align: center;
    position: absolute;
    left: 25%;
    top: 40%;
    font-size: 5em;
    color: #633200;
    font-family: 'Quantico', sans-serif;
}

.navbar {
    background-color: #333;
    width: 25%;
    height: 100vh;
    display: none;
}

.navbar ul {
    overflow: hidden;
    list-style-type: none;
    padding-top: 50%;
    margin: 0;
}

.navbar li {
    display: block;
    margin: 0;
    padding: 5% 50px;
    width: 100%;
}

.navbar li:hover {
    cursor: pointer;
    background-color: #1c292e;
}

.active {
    background-color: #b98757;
}


.navbar li a {
    color: #d3e3e3;
    text-decoration: none;
    font-family: 'Quantico', sans-serif;
    font-size: 1.6em;
    transition: all .5s;
}

.navbar li:hover {
    cursor: pointer;
    background-color: none;
    letter-spacing: 10px;
}

.hamburger {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    float: left;
    transition: opacity .3s;
}

.hamburger:hover {
    cursor: pointer;
    opacity: .5;
}

.hamburger .line {
    width: 50px;
    height: 5px;
    background: none;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.hamburger .line:nth-child(1) {
    background-color: #a77a33;
}

.hamburger .line:nth-child(2) {
    background-color: #633200;
}

.hamburger .line:nth-child(3) {
    background-color: #a77a33;
}

.hamburger.isactive .line:nth-child(2) {
    opacity: 0;
}

.hamburger.isactive .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

.navbar {
    transition: all 2s ease-in-out;
}

.navbar.active {
    display: block;
    animation: fade .5s;
    background-color: #233237;
    margin-bottom: -300px;
}

@keyframes fade {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media screen and (min-width: 576px) {
    .hamburger {
        display: none;
    }

    .navbar {
        background-color: #d2e2e2;
    }
}


@media screen and (max-width: 1200px) {

    .h1 h1 {
        font-size: 3em;
        left: 35%;
    }

    .navbar {
        width: 30%;

    }

    .navbar ul {
        padding-left: 0%;
    }

    .navbar li {
        padding: 3% 0;
    }

    .navbar li a {
        font-size: 1.2em;
    }

}

@media screen and (max-width: 576px) {
    .hamburger {
        float: right;
    }

    .h1 h1 {
        left: 23%;
        top: 50%;
        font-size: 1.4em;
    }

    .navbar {
        background-color: #333;
        width: 100%;
        height: 45vh;
        display: none;
    }

    .navbar ul {
        overflow: hidden;
        list-style-type: none;
        padding-top: 3%;
        text-align: center;
        padding-right: 3%;
        padding-bottom: 3%;
        margin: 0;
    }

    .navbar li {
        display: block;
        margin: 0;
        padding: 14px 20px;
        width: 100%;
        transition: background-color .5s;
    }

    .navbar li:hover {
        cursor: pointer;
        background-color: none;
    }


    .navbar li a {
        color: #d3e3e3;
        text-decoration: none;
        padding: 14px 16px;
        font-family: 'Quantico', sans-serif;
        font-size: 24px;
        transition: all 1s;
    }

    .navbar li:hover {
        cursor: pointer;
        background-color: none;
        letter-spacing: 0px;
    }

    .menu-hidden {
        display: none;
        color: #033a35;
        font-weight: bold;
    }


}