@media only screen and (min-width: 649px) {

    .nav-menu-hidden {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-weight: bold;
        background-color: #d2e2e2;
        font-family: 'Quantico', sans-serif;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-wrapper {
        background-color: #d2e2e2;
        display: flex;
        flex-direction: column;
        }

    .map-location-heading {
        text-align: left;
        padding-bottom: 30px;
    }

    .map-location {
        text-align: left;
        width: 50%;
    }

    .map-number {
        text-align: left;
    }

    .map {
        width: 670px;
        height: 400px;
    }

    .location-hours-header, .location-hours {
        text-align: left;
    }

    .flex-row {
        display: flex;
}

    .container {
        padding: 48px;
    }

    .logo {
        width: 300px;
        margin: auto;
    }

    .intro {

    }
}